@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    width: 100%;
    background-color: #E5E7EB;
    position: relative;
    display: flex;
}

#menu {
    background: rgba(11, 11, 11, 0.907);
    width: 300px;
    height: 100%;
}

#menu .logo{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color: #E5E7EB;
    padding: 30px 0 0 30px;
}

#menu .items{
    margin-top: 40px;
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}
/*hover for menu */

#menu .items li:hover{
    background: rgba(243, 132, 29, 0.199);
    cursor: pointer;
}
#menu .items li:nth-child(1){
    border-left: 4px solid rgb(243, 132, 29) ;
    
}

/* end of annimation on the list*/
#menu .items li i{
    color: rgb(179, 178, 177);
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}
/*icone annimation */
#menu .items li:hover i,
#menu .items li:hover a{
color: rgb(243, 132, 29);
}

#menu .items li a{
    text-decoration: none;
    color: rgb(182, 179, 178);
    font-weight: 300px;
    transition: 0.3s ease;
}

/*interface style*/

#interface {
    width: calc(100% - 300px);
    flex-direction: column;
}
#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    padding: 15px 30px;
    border-bottom: 3px solid rgba(240, 143, 16, 0.918);

}
#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid rgba(235, 158, 42, 0.918);
    border-radius: 4px;
}
interface .navigation .search i{
    margin-right: 14px;
}
#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .acount{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .acount i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400px;
}

#interface .navigation .acount img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.i-name{
    color: rgb(37, 36, 36);
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
}

.values{
    padding: 30px 30px 0 30px;
}
.values .val-box{
    background: #fff;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}